## Syntax and Semantics in Python

In [11]:
#Case Sensitvity - Python is case sensitive
name = "Sandeep" #String
Name = "Palit"

print(name)
print(Name)

Sandeep
Palit

## Identation
Python uses identation to define blocks of code

In [16]:
age = 15 #Numerical/Integer

if age >= 18:
    
    print("Hey, You can vote. Why are you not going to the Booth?")
    
print("I am done with the voting!!!!")

I am done with the voting!!!!

In [19]:
# Line Continuation

total =  1+2+3+4+5+6+7+\
8+9+10

print(total)

55

In [22]:
#Multiple statements on a mutliple lines
x=5
y=10
z=x+y

print(z)

15

In [23]:
#Multiple statements on a single line
x=5; y=10; z=x+y
print(z)

15

## Variable Assignment

In [25]:
age = 18 #age is Integer
name = "Arif" #Name is string
price = 5.57 #price is float

In [26]:
type(age)

int

In [27]:
type(name)

str

In [28]:
type(price)

float

In [29]:
print(type(age))

<class 'int'>

In [39]:
b="Hallo"
a=b
print(a)

Hallo

# Variables

In [40]:
#Declaring and Assigning Variables

age = 18 #Integer
height = 5.5 #Float
name = "Arif" #String
is_student = True #Boolean

In [41]:
type(is_student)

bool

In [46]:
#Declaring and Assigning Variables

age = 18 #Integer
height = 5.5 #Float
name = "Arif" #String
is_student = True #Boolean

print("Age:",age)
print("Height:",height)
print("Name:",name)

Age: 18
Height: 5.5
Name: Arif

In [50]:
#Naming convention

#Valid Variable
first_name

#InValid Variable
First@Name
First2Name
1Name
first-name
first name

SyntaxError: invalid decimal literal (1391474825.py, line 9)

## Type checking and conversion

In [57]:
price = 5
type(price)

int

In [58]:
#int to float
price = float(price) # 1 way
price = 6.5 # Another way
type(price)

float

## User Input

In [63]:
age = int(input("What is your age?"))
print("Hey!!! Do you know you age is ",age)

What is your age?34
Hey!!! Do you know you age is  34

### Simple Calculator

In [65]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
diff = num1 - num2
mul = num1 * num2
div = num1 / num2

print("Sum:", sum)
print("Difference:", diff)
print("Product:", mul)
print("Division:", div)

Enter first number: 45.50
Enter second number: 5
Sum: 50.5
Difference: 40.5
Product: 227.5
Division: 9.1

## Operators

### Aritmetic Operator

In [72]:
a = 17
b = 5

print(a+b) #22
print(a-b) #12
print(a*b) #85
print(a/b) #3.4
print(a//b) #3 (quotient) -- floor division
print(a%b) #2 (reminder) -- modulus operation
print(a**b)

22
12
85
3.4
3
2
1419857

### Comparison Operator

In [75]:
#Equal to
a=b
a==b

#Not equal to
a!=b

False

In [77]:
str1 = "Arif"
str2 = "Sandeep"

str1==str2
str1!=str2

True

In [80]:
# More operators
#>,<,>=,<=
a>b
a<=b

True

### Logical operator

In [86]:
# and, or, not

X=True
Y=False

X and Y # multiple

False

In [87]:
X or Y # addition

True

In [88]:
not Y # opposite

True