## Introduction to Loops

### for Loop

In [1]:
range(5) #Built-in function

range(0, 5)

In [2]:
range(1,5)

range(1, 5)

In [6]:
range(1,10,2)

range(1, 10, 2)

In [7]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for i in range(1,5):
    print(i)

1
2
3
4

In [11]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [12]:
for i in range(1,10,-2): # Out of bound
    print(i)

In [14]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [17]:
# looping over a string

str = "Sandeep Palit"

for i in str:
    print(i)

S
a
n
d
e
e
p

P
a
l
i
t

### While Loop

In [18]:
i = 0

while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

### Loop Control Statement
1. break
2. continue
3. pass

#### 1. break statement
The break statement exists the loop permaturely.

In [31]:
for count in range(10):
    if count==5:
        break
    print(count)

0
1
2
3
4

In [32]:
for count in range(10):
    if count<=5:
        break
    print(count) #No Output as condition satisfied at the begining

#### 2. continue statement
The continue statement skips the current iteration and continues with the next.

In [36]:
#with continue
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [34]:
#with break
for i in range(10):
    if i%2==0:
        break
    print(i) #No output

#### 3. pass statement
The pass statement is a null operation. It does nothing

In [39]:
for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [40]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [41]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

#### Nested loops
loop inside a loop

In [42]:
for i in range(5):
    for j in range(3):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:2 and j:0
i:2 and j:1
i:2 and j:2
i:3 and j:0
i:3 and j:1
i:3 and j:2
i:4 and j:0
i:4 and j:1
i:4 and j:2

### Example-1

In [45]:
# Sum of N natural number using while loop

n=10
sum=0
i=1

while i<=n:
    sum = sum + i
    i = i + 1
print("Sum of first 10 natural numbers:", sum)
print(f"Sum of first 10 natural numbers: {sum}")

Sum of first 10 natural numbers: 55
Sum of first 10 natural numbers: 55

In [48]:
# Sum of N natural number using while loop

n=10
sum=0

for i in range(n+1):
    sum = sum + i
print(f"Sum of first 10 natural numbers: {sum}")

Sum of first 10 natural numbers: 55

### Example-2

In [50]:
# Prime Numbers between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### Example-3
write a program that prints a 5x5 grid of (*) using nested loops

In [53]:
for i in range(5):
    for j in range(5):
        print("*", end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

### Example-4
write a program that defines an empty function using the pass statement

In [56]:
def empty_function():
    pass

#Calling the empty function
empty_function()

hello

### Example-5 : Factorial Calculation

In [58]:
number = 5
fact = 1
i = 1

while i <= number:
    fact = fact * i
    i +=1 
print(f"The factorial of {number} is {fact}.")

The factorial of 5 is 120.

### Example-6: Fibonacci Sequence

In [61]:
n=10

a,b=0,1

count = 0

while count < n:
    print(a)
    a,b = b, a + b
    count+=1

0
1
1
2
3
5
8
13
21
34

### Example-7: Palindrome of a String

In [97]:
word=input("Enter your choice of word:")

if (word == word[::-1]):
    print("Palindrome")
else:
    print("Not Palindrome")

Enter your choice of word:Madam
Not Palindrome

In [98]:
#Converting the word to lower case before checking the case.
word=input("Enter your choice of word:")
word = word.lower()

if (word == word[::-1]):
    print("Palindrome")
else:
    print("Not Palindrome")

Enter your choice of word:Madam
Palindrome